* {
    background-color: rgb(242, 154, 242);
    
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
 }

ul {
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #333;
}
/* when clicking on nav tiles, page scrolls to corresponding section*/
  li {
    float: left;
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

ul a:hover {
    background-color: #111;
  }

nav a {
    float: left;
    color: #9bf4d3;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
    display: flex;
}

nav a:hover {
    background-color: #9bf4d3;
    color: black;
}


.hero {
    height: 50;
    background-position: center;
    position: relative;
}

.hero-text {
    position: relative;
    color: white;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

section {
    width: 75%;
    margin-bottom: 50px;
}

section img {
    width: 100%;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 0, 195);
  color: white;
  text-align: center;
}
/*-media queries for resizing the page based on device

@media screen and (max-width: 992px) {
    section {
      width: 90%;
    }
}
@media screen and (max-width: 768px) {
        section {
          width: 95%;
        }
    }
@media screen and (max-width: 500px) {
        section {
          width: 99%;
        }
    }
